ion-content {
    --background: rgb(152, 251, 152);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    --padding-top: 12%;
    
    #login-container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f5f5f5;
        border-radius: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    
        h2 {
            margin-bottom: 20px;
            color: rgb(51, 51, 51);
        }
    
        form {
            // height: 80%;
            padding-top: 5vh;
    
            ion-list {
                background-color: #f5f5f5;
    
                ion-item {
                    --background: #f5f5f5;
                    color: rgb(51, 51, 51);
    
                    .form-group {
                        margin-bottom: 15px;
    
                        ion-input {
                            border: 1px solid #ccc;
                            padding: 10px;
                            font-size: 16px;
                            border-radius: 5px;
    
                            &:focus {
                                border-color: #ff9800;
                            }
                        }
                    }
                }
    
            }
    
            .cambiarA {
                color: rgb(54, 54, 54);
            }
    
            .btn-ingresar {
                --background: rgb(255, 152, 0); // Naranja pastel
                color: white;
                padding: 10px;
                width: 100%;
                border: none;
                border-radius: 5px;
                font-size: 16px;
                margin-bottom: 20px;
                cursor: pointer;
    
                &:hover {
                    background-color: #e68a00;
                }
            }
        }
    
        .errors-on-the-forms {
            color: var(--ion-color-warning);
        }
    
        #fast-login {
            margin-top: 1vh;
    
            ion-item {
                background: transparent;
            }
    
            h3 {
                font-size: large;
                font-weight: 600;
                color: rgb(54, 54, 54);
            }
    
            #row-avatars {
                flex-wrap: nowrap;
            }
    
            ion-button {
                margin: 0;
    
                .grid-avatars {
                    margin-right: 0;
                    margin-left: 0;
                    padding-right: 0;
                    padding-left: 0;
    
                    ion-col {
                        display: flex;
                        justify-content: center;
    
                        ion-text {
                            color: rgb(54, 54, 54);
                        }
                    }
                }
            }
        }
    
        ion-col.no-lateral-margin-or-padding {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
        }
    
    }
}
