ion-content {
    --background: rgb(11, 71, 3);
    --padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.welcome-message {
    margin-bottom: 20px;
    text-align: center;

    h1 {
        font-size: 2em;
        color: rgb(255, 255, 255);
        font-family: 'arcade', 'arial', sans-serif;
    }
}

form {
    padding: 30px;
}

h3 {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    font-family: 'typewdemi', 'Times New Roman', Times, serif;
}

.quick-access-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin-top: 2vh;

    ion-button {
        --background: rgb(255, 255, 255);
        flex: 1;
        margin: 0 5px;
        color: rgb(11, 71, 3);
        font-family: 'typewdemi', 'Times New Roman', Times, serif;
    }

    .custom-shape {
        width: 75px;
        height: 75px;
        clip-path: polygon(50% 0%, 68% 27%, 98% 35%, 75% 60%, 79% 91%, 48% 76%, 21% 91%, 25% 59%, 2% 35%, 33% 27%);
    }
}

.login-form {
    max-width: 400px;
    margin-bottom: 20px;
    margin-top: 7vh;

    ion-item {
        --background: transparent;
        border: 2px solid white;
        border-radius: 10px;
        margin-bottom: 15px;

        ion-label {
            font-family: 'typewdemi', 'Times New Roman', Times, serif;
        }

        ion-input {
            font-family: 'typewdemi', 'Times New Roman', Times, serif;
        }
    }
}

.submit-button {
    max-width: 400px;
    margin-bottom: 15px;
    margin-top: 10vh;

    ion-button {
        --background: white;
        color: rgb(11, 71, 3);
        font-family: 'typewdemi', 'Times New Roman', Times, serif;
        font-size: 1em;
    }
}

.register-button {
    max-width: 400px;
    margin-bottom: 20px;

    ion-button {
        --background: transparent;
        --box-shadow: none;
        color: white;
        font-family: 'typewdemi', 'Times New Roman', Times, serif;
        font-size: 1em;
    }
}