<ion-content class="login-page">
  <!-- Mensaje de bienvenida -->
  <div class="welcome-message">
    <h1>Conversaula</h1>
  </div>

  <form #authform="ngForm" (ngSubmit)="onSubmit(authform)">

    <!-- Botones de acceso rápido que cargan valores en los inputs -->
    <ion-label class="ion-text-center">
      <h3>Usuarios frecuentes</h3>
    </ion-label>
    <div class="quick-access-buttons ion-text-center">
      <ion-button class="custom-shape"
        (click)="onFastLogin(authform, 'invitado@invitado.com', '222222')">Invitado</ion-button>
      <ion-button class="custom-shape"
        (click)="onFastLogin(authform, 'usuario@usuario.com', '333333')">Usuario</ion-button>
      <ion-button class="custom-shape"
        (click)="onFastLogin(authform, 'anonimo@anonimo.com', '444444')">Anónimo</ion-button>
    </div>

    <!-- Inputs de correo electrónico y contraseña -->
    <div class="login-form">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input class="form-control" expand="block" type="email" ngModel name="email" required email
          #emailCtrl="ngModel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input class="form-control" type="password" ngModel name="password" required minlength="6"
          #passCtrl="ngModel"></ion-input>
      </ion-item>
    </div>

    <!-- Botón para ingresar -->
    <div class="submit-button">
      <ion-button expand="block" type="submit">Ingresar</ion-button>
    </div>

    <!-- Botón para registrar un nuevo usuario -->
    <div class="register-button">
      <ion-button expand="block" (click)="onRegister(authform)">Registrar nuevo usuario</ion-button>
    </div>

  </form>
</ion-content>