ion-content {
    --background: rgb(73, 143, 102);
}

form {
    // background-color: rgb(73, 143, 102);
    height: 100%;
    padding-top: 20vh;

    ion-item {
        --background: rgb(54, 54, 54);
        --color: rgb(73, 143, 102);
    }

    .cambiarA {
        color: rgb(54, 54, 54);
    }

    .submitir {
        --background: rgb(54, 54, 54);
        --color: rgb(73, 143, 102);
    }
}

.errors-on-the-forms {
    color: var(--ion-color-warning);
}

#fast-login {
    margin-top: 7vh;
    ion-item {
        background: transparent;
    }

    h3 {
        font-size: large;
        font-weight: 600;
        color: rgb(54, 54, 54);
    }

    ion-button {
        margin: 0;
        
        .grid-avatars {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
            ion-col {
                display: flex;
                justify-content: center;
                
                ion-text {
                    color: rgb(54, 54, 54);
                }
            }
        }
    }
}

ion-col.no-lateral-margin-or-padding {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}