ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.sala-4a {
    --background: rgba(3, 5, 122, 1);
}

.sala-4b {
    --background: rgba(11, 71, 3, 1);
}

.imagen {
    background-image: url('../../assets/images/fondo-chat-blanco.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
  
  .chat-body {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background: transparent;
    max-height: calc(100vh - 45px - 80px - 20px); /* Resta espacio para el input de enviar y  el footer */
  }
  
  .chat-messages {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .message {
    max-width: 70%;
    margin: 5px 0;
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
  }
  
  .my-message {
    align-self: flex-end;
    background: rgba(7, 108, 126, 0.9);
    color: gainsboro;
    font-family: 'typewdemi', 'Times New Roman', Times, serif;
}

.other-message {
    align-self: flex-start;
    background: rgba(58, 58, 58, 0.9);
    color: gainsboro;
    font-family: 'typewdemi', 'Times New Roman', Times, serif;
  }

  .nombre-usuario {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 0.2rem;
    margin-right: 0.2rem;
  }

  .fecha {
    display: inline-block;
    margin-bottom: 0.2rem;
  }
  
  .chat-footer {
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .chat-footer input {
    height: 45px;
    width: calc(100% - 55px);
    font-size: 16px;
    background-color: gray;
    font-family: 'typewdemi', 'Times New Roman', Times, serif;
    color: gainsboro;
    border-radius: 15px;
  }
  
  .chat-footer button {
    height: 45px;
    width: 45px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgba(255,0,0,1);
    background-image: url('../../assets/images/icono-enviar.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 33px;
  }











.footer {
    height: 80px;
    /* Tamaño del footer */
    display: flex;
    justify-content: center;
    align-items: center;
}

div.sala-4a {
    background-color: rgba(11, 71, 3, 1);
}

div.sala-4b {
    background-color: rgba(3, 5, 122, 1);
}

.logout-button {
    width: 50%;
    /* El botón ocupa todo el ancho */
    height: 100%;
    /* El botón ocupa todo el alto del footer */
    border: 1px solid white;
    font-family: 'typewdemi', 'Times New Roman', Times, serif;
    color: white;
    background-color: transparent;
    font-size: 1.2em;
}