@font-face {
    font-family: 'arcade';
    src: url('../assets/fonts/karmaticArcade.ttf') format("truetype");
}

@font-face {
    font-family: 'typewdemi';
    src: url('../assets/fonts/typewcond_demi.otf') format("opentype");
}

.md.toolbar-title-default {
    /** toolbar **/
    --ion-toolbar-background: rgb(255, 153, 0);;
    --ion-toolbar-color: white;
}