@font-face {
    font-family: 'arcade';
    src: url('../assets/fonts/karmaticArcade.ttf') format("truetype");
}

@font-face {
    font-family: 'typewdemi';
    src: url('../assets/fonts/typewcond_demi.otf') format("opentype");
}

@font-face {
    font-family: 'typewdemiBold';
    src: url('../assets/fonts/typewcond_bold.otf') format("opentype");
}