<ion-content>
  <!-- Contenedor para los botones principales -->
  <div class="button-column">
    <!-- Botones cuadrados -->
    <button ion-button class="square-button sala-1" (click)="irASala(1)" style="background-image: url('assets/img/button1.jpg');">PPS-4A</button>
    <button ion-button class="square-button sala-2" (click)="irASala(2)" style="background-image: url('assets/img/button2.jpg');">PPS-4B</button>
  </div>

  <!-- Footer con botón de cierre de sesión -->
  <div class="footer">
    <button ion-button class="logout-button" (click)="onLogout()" style="background-image: url('assets/img/logout.jpg');">Cerrar sesión</button>
  </div>
</ion-content>
