ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
}

.buttons-container {
    display: flex;
    height: 100vh;
    /* Hace que el contenedor ocupe toda la altura de la pantalla */
}

.full-height-button {
    flex: 1;
    /* Los botones ocupan el mismo ancho */
    margin-top: 7vh;
    height: 93vh;
    /* Cada botón ocupa toda la altura */
    border: none;
    padding: 0;
    background-size: contain;
    /* Asegura que la imagen cubra todo el botón */
    background-position: center;
    background-repeat: no-repeat;
}

.button-left {
    background-color: rgb(152, 251, 152);
    background-image: url('../../assets/images/BotonSi.png');
    /* Ruta de la imagen de fondo del botón izquierdo */
}

.button-right {
    background-color: rgb(255, 188, 88);
    background-image: url('../../assets/images/BotonNo.png');
    /* Ruta de la imagen de fondo del botón derecho */
}