<ion-content>
  <!-- Contenedor para los botones principales -->
  <div class="button-column">
    <!-- Botones cuadrados -->
    <button ion-button class="square-button sala-1" routerLink="/chat/sala-4a">PPS-4A</button>
    <button ion-button class="square-button sala-2" routerLink="/chat/sala-4b">PPS-4B</button>
  </div>

  <!-- Footer con botón de cierre de sesión -->
  <div class="footer">
    <button ion-button class="logout-button" (click)="onLogout()">Cerrar sesión</button>
  </div>
</ion-content>
